/* MagnifyingGlass.css */

.magnifying-glass-container {
    position: relative;
  }
  
  .image {
    max-width: 100%;
    display: block;
    cursor: zoom-in;
  }
  
  .magnifying-glass {
    width: 200px; 
    height: 200px; 
    border: 2px solid #333; 
    position: absolute;
    background-repeat: no-repeat;
    pointer-events: none;
    display: none;   
  }
  
  .magnifying-glass.zoomed {
    display: block;
  }
  