
// ---------------🍀global--------------

*{
    /* font-family: "Open Sans", sans-serif; */  
    text-decoration: none; 

    border: 0;
    margin: 0;
    padding: 0;
  
    /* 🦄margin의 기준선이 border를 기준으로  만들어짐 */
    box-sizing: border-box;
  
    /* 🦄  모든 transition에 공통으로 넣음. 일일히 각 element마다 transition넣을 필요없음*/
    transition: all 0.3s linear;  
    
  }
  
body {
    max-width: 1150px;
    // text-align: center;
    margin: auto;
  }

/* input search bar css  */
.input-search {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
  }

.link{
    color: inherit;
    text-decoration: none;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;


  /* 모든 버튼 width 똑같은 크기로 설정 */
  width: 9rem;
  text-align: center; 

  /* hover-focus-active순서로 하면 에러 안남 */
  &:hover {
      background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
      background-color:#e9e9e9;
  }
  &:active {
      position:relative;
      top:1px;
  }
}

ul {
    list-style: none;
    padding-left: 0;
}

// ---------------🍀navbar--------------
// 👉Navbar.scss

// ---------------🍀Home--------------
#Home{
    padding-top: 80px; /* navbar */
}

// ---------------🍀footer--------------
#footer{
    // margin: 100px 200px 20px 200px;
    padding-top: 5rem;
    .top{
        display: flex;
        gap: 50px;

        .item{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            // 🦄text-align: justify;
            text-align: justify;
            font-size: 14px;

            h1{
                font-size: 18px;
                font-weight: 500;
                color: rgb(68, 67, 67);
            }
            span{
                color: gray;
            }
        }
    }
    
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        .left{         
            flex: 1;
            display: flex;
            justify-content: center;
   
        }
        .right{
            flex: 1;
            display: flex;
            justify-content: center;
   
            img{
                height: 50px;
            }
        }
    }
}

// ---------------🍀slider--------------
#slider{
    // height: calc(100vh - 80px); /* 🦄navbar height 80px만큼 뺌 */
    // width: 100vw;
    height: 50vh;
    width: 50vw;
    max-width: 1150px;

    margin: auto;
    position: relative;
    overflow: hidden;
  
    .container{
        width: 150vw;   /* 👉0348 slider.js image3개 들어갈 만큼.. 50vw X 3개이미지  */
        height: 100%;
        display: flex;
        transition: all 1s ease;      /* 👉0348 slider.js */

        img{
            width: 50vw;    /* 👉0348. slider.js */
            height: 100%;
            object-fit: cover;      /* 🦄object-fit: cover; */
        }
    }

    .icons{
        // width: fit-content;     /*🦄fit-content; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        position: absolute;     
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);    /* 수직정렬 */
     
        margin: auto;       /* 가운데 정렬 */

        .icon{
            width: 50px;
            height: 50px;
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            border-radius: 50%;
            background-color: white;           
            
        }
    }
}

// ---------------🍀 CategoryProducts--------------
#CategoryProducts{
    // margin: 100px 200px;
    padding-top: 50px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        h1{
            flex: 2;
            text-transform: capitalize;
        }
        p{
            flex: 3;
            color: gray;
        }
    }
    .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px; 

        // ---card----
      .card{
            width: 280px;
            display: flex;
            flex-direction: column;    

            border: 1px solid gray;
            border-radius: 4px;
            
            .imageWrap{
                width: 100%;
                height: 400px;
                overflow: hidden;        /* 🦄 overflow: hidden; 스크롤바 없앰 */
                position: relative;
                
                .mainImg{
                    z-index: 1;
                }

                &:hover{
                    .secondImg{
                        z-index: 2;   /* 🦄 hover...z-index변화 */
                    }                
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                }         
            }
       
            .titleWrapper{
                background-color: rgb(236, 236, 236);
                // width: 100%;
                text-align: center;

                h4{
                    margin: 5px auto;  
                }
                .title{
                                  
                }
              
                .prices{
                    display: flex;
                    gap: 20px;
                    justify-content: center;
    
               
                    // margin: auto;    
                }            
            }
        }
    }
}



// ---------------🍀categories--------------

#categories{
    // text-align: center;
    padding-top: 20px;
    img{
        width: 30%;
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;  /* 🍤gap */
        grid-row-gap: 10px;  /* 🍤gap */

        height: 50vh;        

        div{
            position: relative;
            overflow-y: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;               
              }

            button{
                min-width: 100px;   /* 🦄min-width없으면 버튼이 너무 작아서 넣음.  */
                width: fit-content;   /* 🦄width: fit-content; */
                height: 50px;
                padding: 10px;
                
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                margin: auto;
                cursor: pointer;
                border: none;
                background-color: white;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 1 / 2 / 3 / 3; }
        .div4 { grid-area: 1 / 3 / 2 / 4; }
        .div5 { grid-area: 1 / 4 / 2 / 5; }
        .div6 { grid-area: 2 / 3 / 3 / 5; }
    }        
}


// ---------------🍀 FilterPage --------------
#FilterPage{
    padding-top: 80px; /* navbar */
    .wrapper{
        display: flex;
        
        .left{
            flex:1;    
        }
        .right{
            flex:2;

        }
    }

}

// ---------------🍀 FilterInput--------------
#FilterInput{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    padding-left: 1rem;
    
    .checkboxWrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        label{
            // padding: 5px;
        }
    }

    .Sort{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

}


// ---------------🍀 SearchPage--------------
#SearchPage{
    padding-top: 80px; /* navbar */
    .wrapper{
         display: flex;
        .right{
            .bottom{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px; 
        
                // ---card----
              .card{
                    width: 280px;
                    display: flex;
                    flex-direction: column;    
        
                    border: 1px solid gray;
                    border-radius: 4px;
                    
                    .imageWrap{
                        width: 100%;
                        height: 400px;
                        overflow: hidden;        /* 🦄 overflow: hidden; 스크롤바 없앰 */
                        position: relative;
                        
                        .mainImg{
                            z-index: 1;
                        }
        
                        &:hover{
                            .secondImg{
                                z-index: 2;   /* 🦄 hover...z-index변화 */
                            }                
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: absolute;
                        }         
                    }
               
                    .titleWrapper{
                        background-color: rgb(236, 236, 236);
                        // width: 100%;
                        text-align: center;
        
                        h4{
                            margin: 5px auto;  
                        }
                        .title{
                                          
                        }
                      
                        .prices{
                            display: flex;
                            gap: 20px;
                            justify-content: center;
            
                       
                            // margin: auto;    
                        }            
                    }
                }
            }
        }
    }
}




// ---------------🍀 ProductsFiltered--------------
#ProductsFiltered{    
    // margin: 100px 200px;
    padding-top: 50px;
    .bottom{    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 10px; 

        // ---card----
      .card{
            width: 280px;
            display: flex;
            flex-direction: column;    

            border: 1px solid gray;
            border-radius: 4px;
            
            .imageWrap{
                width: 100%;
                height: 400px;
                overflow: hidden;        /* 🦄 overflow: hidden; 스크롤바 없앰 */
                position: relative;
                
                .mainImg{
                    z-index: 1;
                }

                &:hover{
                    .secondImg{
                        z-index: 2;   /* 🦄 hover...z-index변화 */
                    }                
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                }         
            }
       
            .titleWrapper{
                background-color: rgb(236, 236, 236);
                // width: 100%;
                text-align: center;

                h4{
                    margin: 5px auto;  
                }
                .title{
                                  
                }
              
                .prices{
                    display: flex;
                    gap: 20px;
                    justify-content: center;
    
               
                    // margin: auto;    
                }            
            }
        }
    }
}






// ---------------🍀product  --------------

#product{
    display: flex;
    gap: 10px;

    padding: 20px;
    padding-top: 80px; /* navbar */
    
    .left{
        flex: 1;

        display: flex;

        gap: 10px;

        .images{
            flex: 1;
            
            img{
                width: 100%;
                height: 150px;
                object-fit: cover;
                cursor: pointer;

                border: 1px solid rgb(212, 210, 210);
            }
        }
        .mainImg {
            flex: 5;
            border: 1px solid rgb(212, 210, 210);
            img{
                width: 100%;
                height: 800px;
                object-fit: contain;
            }
        }
    }

    .right{
        flex: 1;
        
        /*🦄display: flex;, flex-direction: column;을 사용하는 이유 : 
         gap을 쓰기위해서  
         하위 태그에 flex: 1, flex:3 등으로 레이아웃 하기 위해서         
        */
        display: flex;
        flex-direction: column;
        gap: 30px;

        .price{
            font-size: 30px;
            font-weight: 300;
            text-align: justify;
        }
        
        p{
            font-size: 18px;
            font-weight: 300;
            text-align: justify;
        }
        .quantity{
            display: flex;
            align-items: center;
            gap: 10px;

            button{
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
              }
            }
            
        .productBtn{
            width: 250px;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            // padding: 10px;
            // gap: 20px;
            // cursor: pointer;
            // font-weight: 500; 
            // background-color: #446df6;
            // color: white;                
        }

        .links{
            display: flex;
            gap: 20px;
      
            .item{
              display: flex;
              align-items: center;
              gap: 10px;
              color: #446df6;
              font-size: 14px;
            }
          }
    }

}

// ---------------🍀CartPage  --------------
#CartPage{
    padding-top: 80px;  /* navbar */

    display: flex;
    // flex-direction: column;
    gap: 50px;

    .left{
        flex: 4;

        .items-wrap{
            display: flex;
            margin: auto;

            flex-wrap: wrap;
            gap: 30px;
    
            border-radius: 5px;
          
            .thumbnail-container{
                width: 250px;
                height: 250px;
    
                img{                    
                    width: 100%;
                }
            }
            
            .btn-container{
                display: flex;     
                gap: 10px;
                .cartBtn{
                    width: 10px;            
                    display: flex;            
                    justify-content: center; 
                    align-items: center; 
                }
            }   
        } 

    }
    .right{
        flex: 1;
        padding-top: 10vh;

        .totalPrice{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .btn-container{
                display: flex;
                gap: 5px;
            }
        }

        .btn-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}




// ------🍀media query-----------

@media (max-width:1200px) {
  
}

@media (max-width:1050px) {
    body{
        max-width: 900px;    
      }

    #slider{   
        max-width: 900px;
        height: 20vh;

        .icons{
            .icon{
                width: 30px;
                height: 30px;
            }
        }
        
    }   
}

@media (max-width:840px) {
    body {
        max-width: 800px;    
      }

    #slider{   
        max-width: 800px;
    }   
}

//🍀 sidebar
@media (max-width:700px) {
    body {
        max-width: 620px;            
      }
    #slider{   
        max-width: 620px;
    } 

    #ProductsFiltered,  
    #CategoryProducts{                    
        .bottom{        
          .card{
                width: 140px;          
                
                .imageWrap{
                    width: 100%;
                    height: 150px;                   
                }
           
                .titleWrapper{    
                    display: flex;     
                    flex-direction: column;
                    .title{
                                                
                    }                  
                    .prices{
                        display: flex;     
                        flex-direction: column;
                        
                        .stock{
                            display: none;
                        }                      
               
                    }            
                }
            }
        }
    }

    #categories{
        .parent{
            div{
                button{
                    // width: 30px;
                    min-width: 10px;
                    padding: 0px;
                    // background-color: yellow; 
                    font-size: 10px;
                }
            }
        }
    }
    
    #CartPage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;

        .left{
    
            .items-wrap{
        
            
                .thumbnail-container{
                    width: 150px;
                    height: 150px;
        
                    img{                    
                        width: 100%;
                    }
                }
                
                .btn-container{
                    display: flex;     
                    gap: 10px;
                    .cartBtn{
                        width: 5px;    
            
                        .mui-icon{
                            font-size: 16px;
                        }
                    }
                }   
            } 

        }
        .right{
            flex: 1;
            padding-top: 10vh;

            .totalPrice{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .btn-container{
                    display: flex;
                    gap: 5px;
                }
            }

            .btn-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }


    
}
@media (max-width:600px) {
    body {
        max-width: 520px;    
      }

    #slider{   
        max-width: 520px;
    }
}
@media (max-width:500px) {
    body {
        max-width: 420px;    
      }

    #slider{   
        max-width: 420px;
    }
}

@media (max-width:450px) {
    body {
        max-width: 400px;    
      }
    #slider{   
        max-width: 400px;
    }
}

@media (max-width:400px) {
    body {
        max-width: 350px;    
      }
    #slider{   
        max-width: 350px;
    }
}



// -----


// @media (max-width:1050px) {
//     #navbar{    
//         .wrapper{    
//             width: 900px;
//             background-color: yellow;
//         }
//     }  
// }

// @media (max-width:840px) {
//     #navbar{    
//         .wrapper{    
//             width: 800px;
//         }
//     }  
// }

// // 🍀sidebar
// @media (max-width:700px) {
//     #footer{    
//         width: 620px;

//     }
// }



// @media (max-width:600px) {
//     #navbar{    
//         .wrapper{    
//             width: 520px;
         
//         }
//     }
// }
// @media (max-width:500px) {
//     #navbar{    
//         .wrapper{    
//             width: 420px;
//         }
//     }
// }

// @media (max-width:450px) {
//     #navbar{    
//         .wrapper{    
//             width: 400px;
//         }
//     }
// }

