/* MagnifyingGlass.css */

.magnifying-glass-container {
    position: relative;
  }
  
  .image {
    max-width: 100%;
    display: block;
  }
  
  .magnifying-glass {
    width: 100px; /* Adjust the size of the magnifying glass */
    height: 100px; /* Adjust the size of the magnifying glass */
    border: 2px solid #333; /* Customize the magnifying glass border */
    position: absolute;
    background-repeat: no-repeat;
    pointer-events: none;
    display: none;
    transform: translate(-50%, -50%);
    cursor: zoom-in;
  }
  
  .magnifying-glass.zoomed {
    display: block;
  }
  